<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- HTML Source Content Assistant for Concordion-specific tags -->
	<extension point="org.eclipse.wst.sse.ui.completionProposal">
		<proposalCategory icon="icons/proposal.gif"
			id="org.concordion.ide.eclipse.ui.proposalCategory" name="%proposalCategoryName">
		</proposalCategory>

		<proposalComputer activate="true"
			categoryId="org.concordion.ide.eclipse.ui.proposalCategory" 
			class="org.concordion.ide.eclipse.ConcordionContentAssistant"
			id="org.concordion.ide.eclipse.ConcordionAssistProposals">

			<contentType id="org.eclipse.wst.html.core.htmlsource">
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT" />
			</contentType>

		</proposalComputer>
	</extension>
	
	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<!-- TODO: Test with scope = partial -->
		<validator
		      scope="total"
		      class="org.concordion.ide.eclipse.ConcordionValidator"
		      id="org.concordion.ide.validator">
			<contentTypeIdentifier id="org.eclipse.wst.html.core.htmlsource">
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.concordion.ide.eclipse"
          name="Concordion">
    </category>
    <wizard
          category="org.concordion.ide.eclipse"
          class="org.concordion.ide.eclipse.wizards.NewSpecWizard"
          icon="icons/proposal.gif"
          id="org.concordion.ide.eclipse.wizards.NewSpecWizard"
          name="Concordion Specification with Fixture">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.concordion.ide.eclipse.preferences.ConcordionPluginPreferencePage"
          id="org.concordion.ide.eclipse.preferences.ConcordionPluginPreferencePage"
          name="Concordion">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.concordion.ide.eclipse.preferences.PreferenceInitializer">
    </initializer>
 </extension>

  <extension point="org.eclipse.ui.commands">
    <command
        description="Go To Fixture"
        id="org.concordion.eclipse.ide.command.gotofixture"
        name="Go To Fixture">
    </command>
  </extension>

  <extension point="org.eclipse.ui.handlers">
    <handler
        class="org.concordion.ide.eclipse.command.GoToFixtureCommandHandler"
        commandId="org.concordion.eclipse.ide.command.gotofixture">
    </handler>
  </extension>

<extension point="org.eclipse.ui.menus">
  <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
     <command commandId="org.concordion.eclipse.ide.command.gotofixture" style="push">

       <visibleWhen checkEnabled="false">
         <with variable="activeContexts">
             <iterate operator="or">
                 <equals value="org.eclipse.wst.html.core.htmlsource"/>
             </iterate>
         </with>
       </visibleWhen>
      
     </command>
  </menuContribution>
</extension>
</plugin>
